Django==5.1
djangorestframework==3.15
django-cors-headers==4.3
django-filter==24.2
psycopg2-binary==2.9.10
Pillow==10.4
gunicorn==22.0
whitenoise==6.7.0
python-dotenv==1.0
openpyxl==3.1
APScheduler~=3.11
django-apscheduler~=0.7